/*
 *= depend_on covers/about.jpg
 */

body#about {
  #about-jumbotron {
    background-image: asset-url('covers/about.jpg');
    background-position: center center;

    text-align: center;

    .container {
      padding-top: 100px;
      padding-bottom: 100px;
      max-width: 800px;
    }
  }

  #about-logo {
    margin: 0 auto;
  }

  .horizontal-call {
    margin-top: 0;
  }
}
