/*
 *= depend_on covers/about.jpg
 */

body#about {
  #about-cover {
    height: 400px;

    @media (max-width: $screen-xs-max) {
      height: 200px;
    }

    background-image: asset-url('covers/about.jpg');
    background-size: cover;
    background-position: center center;

    content: " ";
  }

  #about-main .container {
    blockquote {
      margin-bottom: 10.5px;
    }

    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }

  #team-wrapper {
    margin-top: 50px;
    border-top: 1px solid $gray-lighter;
    border-bottom: 1px solid $gray-lighter;
    padding: 30px;
  }

  #internet-map-wrapper {
    margin-top: 50px;

    padding-top: 20px;
    padding-bottom: 10px;

    border-top: 1px solid $gray-lighter;
  }

  #internet-map-caption {
    margin-top: 5px;
    text-align: center;
    font-size: $font-size-small;
    color: $gray-light;
  }

  .text-container {
    margin-top: 50px;
  }
}
