body#contact {
  #contact-form-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;

    h3:first-child {
      margin-top: 0;
    }

    #message {
      min-height: 225px;
    }

    #contact-info-column {
      @media (max-width: $screen-sm-max) {
        margin-top: 20px;
      }
    }
  }
}
