body#contract {
  padding-top: 60px;

  @media (max-width: $screen-xs-max) {
    padding-top: 120px;
  }

  .terms-long {
    p, ul, dl, ol, address, table {
      font-size: 14px;
    }

    h5 {
      font-weight: bold;
    }
  }

  .terms-short {
    h4 {
      font-size: ceil(($font-size-small * 1.1));
      color: $gray-light;
    }

    p {
      font-size: 14px;

      @media (min-width: $screen-sm-min) {
        font-size: ceil(($font-size-large * 1));
      }
    }
  }
}
