body#contact {
  #contact-info-section {
    margin-top: 160px;
    margin-bottom: 100px;
  }

  #contact-info-container {
    max-width: 1000px;
  }

  .heading {
    margin-bottom: 50px;
  }

  .contact-column {
    max-width: 500px;
    margin: 0 auto;
  }
}
