body#coverage {
  color: white;

  .heading .heading-description {
    color: white;
  }

  #coverage-container {
    margin-top: -25px;
    max-width: 700px;
  }

  ul.covered-areas-list {
    font-size: 19px;
    text-align: center;
  }

  .horizontal-call {
    margin-top: 0;
  }

  &, & > main {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #map-canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  #map-overlay {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    padding-top: 100px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .65);
  }

  .coverage-check-form {
    #check-status {
      transition: background-color .25s ease-in-out;
    }

    .check-status-standby {
      &, &:hover {
        color: $gray-dark;
      }

      &:hover {
        cursor: default;
      }
    }

    .check-status-yes {
      background-color: $palette-green;

      color: white;

      &:hover {
        background-color: darken($palette-green, 5%);
      }
    }

    .check-status-no {
      background-color: $palette-red;
      color: white;

      &:hover {
        cursor: default;
      }
    }
  }
}
