/*
 *= depend_on covers/home.jpg
 */

body#home {
  .horizontal-call {
    margin-top: 0;
  }

  #home-jumbotron {
    background-image: asset-url('covers/home.jpg');
    background-position: center 60%;
    text-align: center;

    .jumbotron-text {
      margin-bottom: 20px;
    }

    .jumbotron-form-wrapper {
      @media (max-width: $screen-xs-max) {
        max-width: 400px;
        margin: 0 auto;
      }
    }
  }

  #animated-home-title-wrapper {
    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }

  #static-home-title-wrapper {
    @media (min-width: $screen-md-min) {
      display: none;
    }
  }

  #home-features {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
