body#inquiry {
  #inquiry-container {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 55px;

    h3:first-child {
      margin-top: 0;
    }
  }

  .horizontal-call {
    margin-top: 30px;
  }
}
