body#privacy {
  padding-top: 100px;

  .privacy-policy-container {
    max-width: 800px;

    p, ul, table {
      font-size: 16px;
    }

    p {
      text-align: justify;
      hyphens: auto;
    }

    h2 {
      border-top: 1px solid $gray-lighter;
      padding-top: 20px;
    }
  }
}
