body#suspended {
  #suspended-container {
    text-align: center;
    margin-top: 100px;

    h1 {
      font-size: ceil(($font-size-h1 * 1.5));
      margin-top: 0;
    }

    p {
      font-size: ceil(($font-size-base * 1.5));
    }

    .suspended-icon {
      font-size: ceil(($font-size-large * 8));
      color: lighten($gray-light, 26%);
    }
  }
}
