.feature
  .container.contained
    .row
      .col-xs-12.col-md-4.pull-right
        = image_tag 'ballicons/wifi.svg', class: 'feature-icon'

      .col-xs-12.col-md-8
        %h3 Router Wi-Fi

        %p
          Insieme all'antenna, durante l'installazione ti forniremo in comodato
          d'uso gratuito un router Wi-Fi. Il router è completamente
          configurabile e, in caso di guasto, la sostituzione non ti costa
          assolutamente nulla!

        %p
          %strong Non permettere al tuo router di fermarti.

.feature
  .container.contained
    .row
      .col-xs-12.col-md-4
        = image_tag 'ballicons/statistic.svg', class: 'feature-icon'

      .col-xs-12.col-md-8
        %h3 15 giorni di prova

        %p
          Nessuno dovrebbe pagare per un servizio che non conosce. Per questo
          motivo offriamo a tutti gli utenti 15 giorni di prova gratuita e
          senza impegno. Al termine della prova, potrai decidere se vuoi
          mantenere il servizio.

        %p
          %strong Non c'è alcun motivo per non dare un'occhiata.
