.feature
  .container.contained
    .row
      .col-xs-12.col-md-4.pull-right
        = image_tag 'ballicons/wifi.svg', class: 'feature-icon'

      .col-xs-12.col-md-8
        %h3 Router Wi-Fi

        %p
          Insieme all'antenna, ti forniamo in comodato d'uso gratuito un router
          Wi-Fi. Il router è completamente configurabile e, in caso di guasto,
          la sostituzione non ti costa nulla!

        %p
          %strong I tuoi strumenti non dovrebbero frenarti.

.feature
  .container.contained
    .row
      .col-xs-12.col-md-4
        = image_tag 'ballicons/statistic.svg', class: 'feature-icon'

      .col-xs-12.col-md-8
        %h3 15 giorni di prova

        %p
          Non dovresti pagare per qualcosa che non conosci. Per questo offriamo
          a tutti gli utenti 15 giorni di prova gratuita e senza impegno.
          Ci dirai dopo cosa vuoi fare.

        %p
          %strong Perché non dare un'occhiata?
