.nav-wrapper
  .container
    %ul.nav.nav-tabs.nav-justified
      %li{class: "#{'active' if params[:id] == 'plans/wadsl'}"}= link_to 'WADSL', plans_wadsl_path
      %li{class: "#{'active' if params[:id] == 'plans/whdsl'}"}= link_to 'WHDSL', plans_whdsl_path
      %li{class: "#{'active' if params[:id] == 'plans/voip'}"}= link_to 'VoIP', plans_voip_path
