- provide :title, 'Promozioni'
- provide :body_id, 'deals'

.heading.heading-bordered
  .container
    %h1.heading-title Promozioni
    %h3.heading-description Sconti e affari sui nostri prodotti, solo per te.

.container.contained-sm#deals-container
  .row
    .col-xs-12
      %p.no-deals-icon
        = fa_icon 'frown-o'

      %p.no-deals-text
        Sembra che attualmente non ci siano promozioni attive.
        Perché non riprovi tra un po'? Avremo qualcosa per te!

      %p.back-to-home
        = link_to 'Torna alla home →', root_path
