- provide :title, 'Condomini | Domande frequenti'
- provide :body_id, 'faq-condos'

= render 'pages/faq/heading'
= render 'pages/faq/navigation'

.container.contained
  .row
    .col-xs-12
      %h3 Si può usare una sola antenna per un condominio?
      %p
        Sì, l'installazione condominiale è possibile con una sola antenna. In
        tal caso il costo di installazione è di
        %strong €300,00 IVA inclusa
        per l'intero condominio, e può essere ovviamente ripartito tra quanti si
        avvarrano del servizio, mentre quello di attivazione è di
        %strong €50,00/utente IVA inclusa.
        A ogni utente sarà fornito un router Wi-Fi in comodato d'uso
        gratuito.

    .col-xs-12
      %h3 I proprietari dello stabile possono opporsi all'installazione?
      %p
        No. L'art. 1 della
        = link_to('legge n. 554 del 6 maggio 1940', 'http://www.sicet.it/pages/normativa/leggi/leggi_nazionali/legge_554-40.htm')
        recita:

      %blockquote
        %p
          I proprietari di uno stabile o di un appartamento non possono opporsi
          alla installazione, nella loro proprietà, di aerei esterni destinati
          al funzionamento di apparecchi radiofonici appartenenti agli abitanti
          degli stabili o appartamenti stessi
          = '<em>[...]</em>.'.html_safe
