- provide :title, 'Tecnologia | Domande frequenti'
- provide :body_id, 'faq-tech'

= render 'pages/faq/heading'
= render 'pages/faq/navigation'

.container.contained
  .row
    .col-xs-12
      %h3 L'antenna è dannosa per la salute?
      %p
        Assolutamente no! Le tecnologie che usiamo sono sottoposte alla
        vigilanza delle autorità competenti, e in ogni caso sono molto meno
        invadenti dei comuni telefoni cellulari.

  .row
    .col-xs-12
      %h3 Posso usare l'antenna del mio vicino?
      %p
        No. Le antenne installate sono ottimizzate per la gestione del traffico
        di un singolo cliente. Per motivi tecnici e legali un pannello non può
        servire più utenti.

  .row
    .col-xs-12
      %h3 Posso usare l'antenna di un altro provider?
      %p
        No. Le tecnologie usate da InterConn per la ricetrasmissione sono
        diverse da quelle usate dagli altri fornitori di servizi internet, e
        InterConn non sarebbe in grado di garantire la qualità del servizio
        offerto usando un'antenna esistente.
