- provide :title, 'Termini del servizio | Domande frequenti'
- provide :body_id, 'faq-terms'

= render 'pages/faq/heading'
= render 'pages/faq/navigation'

.container
  .row
    .col-xs-12.col-md-6
      %h3 Cosa comprende il costo d'installazione?
      %p
        Il co­sto di in­stal­la­zio­ne com­pren­de la fornitura dell'antenna e
        la sua installazione su un supporto preesistente, il router Wi-Fi in
        comodato d'uso gratuito e del cavo di rete fino a un massimo di 30
        metri. Il co­sto per cavi più lunghi sarà quan­ti­fi­ca­to durante il
        so­pral­luo­go.

    .col-xs-12.col-md-6
      %h3 Come avviene la fatturazione?
      %p
        La fat­tu­ra­zio­ne dei ser­vi­zi è bi­me­stra­le an­ti­ci­pa­ta. Le
        fatture vengono emesse il primo del mese per i due mesi successivi (es.
        il primo dicembre per i mesi di gennaio e febbraio). Per pagare la
        fattura hai tempo fino al quindicesimo giorno del mese.

  .row
    .col-xs-12.col-md-6
      %h3 Come avviene la tariffazione?
      %p
        La ta­rif­fa­zio­ne dei servizi è flat: i di­spo­si­ti­vi pos­so­no es­se­re
        co­stan­te­men­te con­nes­si e consumare banda illimitata sen­za che ven­ga
        ad­de­bi­ta­to alcun co­sto aggiuntivo.

    .col-xs-12.col-md-6
      %h3 Quali sono i termini di fornitura dell'apparato?
      %p
        L'apparato è fornito in comodato d'uso gratuito. La garanzia è
        illimitata e copre, in caso di guasto, sia il costo del nuovo apparato
        che quello della manodopera per la sostituzione.

  .row
    .col-xs-12.col-md-6
      %h3 Quali sono i metodi di pagamento?
      %p
        Il pa­ga­men­to può es­se­re ef­fet­tua­to tra­mi­te RID (tranne che su
        c/c BancoPosta) op­pu­re bol­let­ti­no po­sta­le.

    .col-xs-12.col-md-6
      %h3 Dovrò pagare il canone Telecom?
      %p
        No: tutti i pos­ses­so­ri di con­trat­to In­ter­Conn WADSL o WHDSL non sono
        sog­get­ti al pa­ga­men­to del ca­no­ne Te­le­com.

  .row
    .col-xs-12.col-md-6
      %h3 Quando posso effettuare disdetta?
      %p
        Quando vuoi, anche se preferiremmo davvero che ci ripensassi, senza
        pagare nulla. (Psst: sapevi che
        = link_to('le penali sono illegali?', 'http://www.altroconsumo.it/hi-tech/telefono-internet-e-tv-digitale/news/disattivazione-telefono')
        Ricorda che noi non ti abbiamo detto niente.)
