- provide :title, 'VoIP | Domande frequenti'
- provide :body_id, 'faq-voip'

= render 'pages/faq/heading'
= render 'pages/faq/navigation'

.container.contained
  .row
    .col-xs-12
      %h3 Quali sono i requisiti del servizio VoIP?
      %p
        Per l'attivazione del servizio VoIP è necessaria una linea ADSL, non
        necessariamente offerta da InterConn. Si raccomandano almeno 128 Kbps
        simmetrici per un funzionamento ottimale.

  .row
    .col-xs-12
      %h3 Posso usare il mio apparato VoIP?
      %p
        Sì, è possibile rinunciare all'apparato preconfigurato fornito da
        InterConn e azzerare così il costo di installazione. In tal caso ti
        forniremo i dati per configurare il tuo apparato VoIP.
