body#pricing-voip {
  .pricing-table-container-inner {
    max-width: 350px;
    margin: 0 auto;
  }

  .voip-row {
    max-width: 750px;
    margin: 0 auto;
  }

  .pricing-table-sidebar {
    max-width: 350px;
    margin: 0 auto;

    h3:first-child {
      @media (min-width: $screen-sm-min) {
        margin-top: 0;
      }
    }
  }

  .asterisks-explanation {
    @media (max-width: $screen-xs-max) {
      ul {
        text-align: center;
      }
    }
  }

  #call-rates-modal {
    #call-rates-table {
      margin-top: 20px;
    }

    ul.color-legend {
      font-size: $font-size-small;

      li {
        margin-bottom: 2.5px;

        .label {
          margin-right: 5px;
        }
      }
    }
  }
}
