body#pricing-voip {
  .pricing-table-container-inner {
    max-width: 350px;
    margin: 0 auto;
  }

  .voip-container {
    margin-bottom: 100px;
  }

  .larger-plans-info {
    margin-bottom: 100px;
  }
}
