body#pricing-voip {
  .pricing-table-container-inner {
    max-width: 350px;
    margin: 0 auto;
  }

  .voip-row {
    max-width: 750px;
    margin: 0 auto;
  }

  .pricing-table-sidebar {
    max-width: 350px;
    margin: 0 auto;

    h3:first-child {
      @media (min-width: $screen-sm-min) {
        margin-top: 0;
      }
    }
  }
}
