body#pricing-wadsl {
  .pricing-table-container-inner {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media (max-width: $screen-xs-max) {
  body#pricing-wadsl .pricing-table-container {
    margin-top: 15px;

    &:first-child {
      margin-top: 0;
    }

    padding-left: 15px !important;
    padding-right: 15px !important;

    .pricing-table {
      .product-name, .product-price {
        border-left: none;
        border-right: none;
      }

      .product-feature, .product-action {
        border-left-width: 2px;
        border-right-width: 2px;
      }
    }
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  body#pricing-wadsl .pricing-table-container {
    margin-top: 15px;

    &:nth-child(odd) {
      padding-left: 15px !important;

      .pricing-table {
        .product-name, .product-price {
          border-left: none;
        }

        .product-feature, .product-action {
          border-left-width: 2px;
        }
      }
    }

    &:nth-child(even) {
      padding-right: 15px !important;

      .pricing-table {
        .product-name, .product-price {
          border-right: none;
        }

        .product-feature, .product-action {
          border-right-width: 2px;
        }
      }
    }
  }
}

@media (max-width: $screen-sm-max) {
  body#pricing-wadsl .pricing-table .product-feature.product-feature-2x {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
