@media (max-width: $screen-sm-max) {
  body#pricing-whdsl .pricing-table-container {
    padding-left: 15px;
    padding-right: 15px;

    margin-top: 15px;

    &:first-child {
      margin-top: 0;
    }
  }

  body#pricing-whdsl .pricing-table {
    .product-name, .product-price {
      border-left: none;
      border-right: none;
    }
  }
}
