body#pricing-whdsl {
  .pricing-table-container-inner {
    max-width: 400px;
    margin: 0 auto;
  }

  .horizontal-call {
    margin-top: 0;
  }

  .feature-list {
    margin-top: 50px;
  }

  .asterisks-explanation {
    ul {
      @media (max-width: $screen-sm-max) {
        text-align: center;
      }
    }
  }
}

@media (max-width: $screen-sm-max) {
  body#pricing-whdsl .pricing-table-container {
    padding-left: 15px;
    padding-right: 15px;

    margin-top: 15px;

    &:first-child {
      margin-top: 0;
    }
  }

  body#pricing-whdsl .pricing-table {
    .product-name, .product-price {
      border-left: none;
      border-right: none;
    }

    .product-feature, .product-action {
      border-left-width: 2px;
      border-right-width: 2px;
    }
  }
}
