body#pricing-whdsl {
  .pricing-table-container-inner {
    max-width: 350px;
    margin: 0 auto;
  }
}

@media (max-width: $screen-sm-max) {
  body#pricing-whdsl .pricing-table-container {
    padding-left: 15px;
    padding-right: 15px;

    margin-top: 15px;

    &:first-child {
      margin-top: 0;
    }
  }

  body#pricing-whdsl .heading {
    .lead {
      max-width: 500px;
      margin: 0 auto;
    }
  }

  body#pricing-whdsl .pricing-table {
    .product-name, .product-price {
      border-left: none;
      border-right: none;
    }

    .product-name {
      border-top-left-radius: $border-radius-large;
      border-top-right-radius: $border-radius-large;
    }
  }
}
