.btn {
  transition: background-color .25s ease,
              border-color .25s ease;

  small {
    display: block;
    opacity: .75;
  }
}

.btn-lg {
  padding-top: 10.5px;
  padding-bottom: 10.5px;
}

.btn-blue-light {
  @include button-variant(white, $palette-blue, $palette-blue);
}

.btn-orange {
  @include button-variant(white, $palette-orange, $palette-orange);
}
