.feature-grid {
  .feature {
    max-width: 390px;
    margin: 0 auto;

    padding-top: $spacing-sm;
    text-align: center;

    .feature-icon {
      width: 40%;
      margin: 0 auto;
    }

    h3 .label {
      margin-top: 15px;
      font-size: floor(($font-size-small * 0.8));
    }
  }
}
