.feature-list {
  .feature {
    padding-top: 75px;
    padding-bottom: 75px;

    p {
      font-size: ceil(($font-size-large * 1));
    }

    &:nth-child(even) {
      background-color: lighten($gray-lighter, 3.25%);
    }

    .feature-icon {
      width: 100%;

      @media (max-width: $screen-sm-max) {
        width: 40%;
      }
    }

    p {
      color: $gray-light;
    }

    @media (max-width: $screen-sm-max) {
      text-align: center;

      .container {
        max-width: 550px;
      }
    }
  }

  &.feature-list-inverted .feature {
    &:nth-child(even) {
      background-color: white;
    }

    &:nth-child(odd) {
      background-color: lighten($gray-lighter, 3.25%);
    }
  }
}

.heading + .feature-list .feature:first-child {
  &:first-child {
    padding-top: 50px;
  }
}
