.feature-list {
  .feature {
    .fa.feature-icon {
      font-size: 20em;
    }

    img.feature-icon {
      width: 100%;
    }

    .feature-text-wrapper {
      margin-top: 25px;
    }

    &:nth-child(odd) {
      background: $gray-lighter;

      .feature-icon-wrapper {
        float: right;
        text-align: right;
      }
    }
  }
}

@media (max-width: $screen-sm-max) {
  .feature-list {
    .feature {
      text-align: center;

      .feature-text-wrapper {
        margin-top: 10px;
      }

      &:nth-child(odd) {
        .feature-icon-wrapper {
          float: none;
          text-align: center;
        }
      }
    }
  }
}
