.horizontal-call + footer {
  margin-top: 100px;
}

$footer-links-bg: darken($palette-black, 15%);
$footer-disclaimer-bg: darken($palette-black, 20%);

footer {
  color: $gray-light;
  font-size: 16px;

  a {
    color: lighten($gray-light, 30%);
    border-bottom: none !important;

    &:hover, &:focus {
      color: lighten($gray-light, 50%);
      text-decoration: none;
    }
  }

  ul {
    font-size: $font-size-base;

    @media (max-width: $screen-sm-max) {
      font-size: ceil(($font-size-base * 1.1));
    }
  }

  .footer-links {
    padding-top: $spacing-base - 20px;
    padding-bottom: $spacing-base;
    background-color: $footer-links-bg;

    ul.list-unstyled {
      margin-bottom: 0;

      li {
        margin-bottom: 2px;
      }
    }

    h4 {
      margin-top: 0;
      text-transform: uppercase;
      color: white;
    }

    .footer-links-col {
      margin-top: 20px;
    }
  }

  .footer-disclaimer {
    text-align: center;

    .container {
      max-width: 1000px;
      margin: 0 auto;
    }

    p {
      font-size: 16px;
    }

    color: lighten($gray-light, 10%);

    padding-top: 25px;
    padding-bottom: 25px;

    background-color: $footer-disclaimer-bg;

    p, ul {
      margin-bottom: 0;
    }
  }
}
