.heading {
  margin-top: 75px;
  margin-bottom: 50px;

  text-align: center;

  .heading-title {
    font-weight: bold;
  }

  .heading-description {
    margin-top: 0;

    max-width: 600px;
    margin: 0 auto;
  }
}
