.heading {
  padding-top: 50px;
  padding-bottom: 50px;

  text-align: center;

  .heading-title {
    font-weight: bold;
    margin-top: 0;
  }

  .heading-description {
    max-width: 600px;
    margin: 0 auto;
    color: $gray-light;
  }

  &.heading-inverse {
    .heading-title {
      color: white;
    }

    .heading-description {
      color: darken($gray-lighter, 6.5%);
    }
  }

  &.heading-bordered {
    border-bottom: 1px solid darken($gray-lighter, 6.5%);
    margin-bottom: 25px;
  }
}
