.horizontal-call {
  text-align: center;

  padding-top: $spacing-sm !important;
  padding-bottom: $spacing-sm !important;

  .btn {
    margin-left: 20px;
  }
}

@media (max-width: $screen-sm-max) {
  .horizontal-call {
    .btn {
      margin-top: 10px;
    }
  }
}
