.horizontal-call {
  margin-top: 100px;
  margin-bottom: -100px !important;

  text-align: center;

  padding-top: $spacing-sm !important;
  padding-bottom: $spacing-sm !important;

  background-color: $palette-blue;
  color: white;

  .btn {
    margin-left: 20px;
    text-transform: uppercase;

    @media (max-width: $screen-sm-max) {
      margin-top: 10px;
      margin-left: 0;
    }
  }

  @media (max-width: $screen-sm-max) {
    .btn-wrapper {
      display: block;
    }
  }
}
