.huge-social-icons {
  border-top: 1px solid $gray-lighter;
  border-bottom: 1px solid $gray-lighter;

  &:hover {
    cursor: pointer;
  }

  .social-icon {
    margin-top: -1px;
    margin-bottom: -1px;

    padding-top: 50px;
    padding-bottom: 50px;

    text-align: center;

    a {
      font-size: ceil(($font-size-large * 3));
      color: white;
      border-bottom: none;
    }

    &.si-facebook {
      background-color: #3B5998;
      color: white;
    }

    &.si-twitter {
      background-color: #00aced;
      color: white;
    }

    &.si-google-plus {
      background-color: #D34836;
      color: white;
    }

    &.si-skype {
      background-color: #50DBF9;
      color: white;
    }
  }

  &.hsi-last {
    margin-bottom: -100px;
  }
}
