.form-control, .form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.form-control:focus {
  border-color: $palette-orange;
}

.input-flat, .input-flat:focus {
  border: none;
}

.input-group-addon {
  border: none;
}

textarea.form-control {
  resize: none;
  min-height: 210px;
}
