.form-control, .form-control:focus {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

.form-control:focus {
  border-color: $palette-blue-light;
}

.input-flat, .input-flat:focus {
  border: none;
}

.input-group-addon {
  border: none;

  &:hover {
    text-decoration: none;
  }
}

textarea.form-control {
  resize: none;
  min-height: 210px;
}
