body {
  margin-top: $navbar-height;
}

.navbar {
  margin-bottom: 0;

  a {
    border-bottom: none;
  }

  .navbar-nav + .navbar-nav {
    margin-left: 25px;
  }

  .container {
    max-width: 960px;
  }

  .navbar-brand {
    img {
      height: $navbar-height - $navbar-padding-vertical * 2;
      position: absolute;
      top: $navbar-padding-vertical;
    }

    span {
      margin-left: 50px;
    }
  }

  .navbar-nav-action {
    max-width: 210px;
    float: right;

    margin-top: 10px;
    margin-right: 15px;

    background-color: lighten($palette-blue, 4%);
    transition: background-color .25s ease;

    border-radius: $border-radius-large;

    text-transform: uppercase;
    font-weight: bold;

    &:hover {
      background-color: $palette-blue;
    }

    a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
