#navbar-affix.affix {
  top: 0;
  width: 100%;
  z-index: 100;
}

body {
  padding-top: $navbar-height;
}

.navbar {
  margin-bottom: 0;
  border-bottom: none;

  a {
    border-bottom: none;
  }

  ul {
    font-size: $font-size-base;
  }

  .navbar-brand {
    img {
      height: $navbar-height - $navbar-padding-vertical * 2;
      position: absolute;
      top: $navbar-padding-vertical;
    }

    span {
      margin-left: 50px;
    }
  }

  .navbar-nav > li {
    a {
      text-transform: uppercase;
    }
  }

  .navbar-nav .navbar-nav-action {
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
      background-color: $palette-blue;

      a {
        background-color: transparent;
      }
    }

    max-width: 210px;
    float: right;

    margin-left: 25px;
    margin-top: 10px;

    @media (max-width: $screen-sm-max) {
      margin-right: 15px;
    }

    background-color: lighten($palette-blue, 4%);
    transition: background-color .25s ease;

    border-radius: $border-radius-large;

    text-transform: uppercase;
    font-weight: bold;

    a {
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 10px;
      padding-bottom: 10px;

      &:hover {
        border-bottom: none;
        padding-bottom: 10px;
      }
    }
  }

  .navbar-right {
    margin-right: 0;
  }
}
