body {
  margin-top: $navbar-height;
}

.navbar {
  border: none;
  margin-bottom: 0;

  a {
    border-bottom: none;
  }

  .navbar-nav + .navbar-nav {
    margin-left: 25px;
  }

  .container {
    max-width: 960px;
  }

  .navbar-brand {
    img {
      height: $navbar-height - $navbar-padding-vertical * 2;
      position: absolute;
      top: $navbar-padding-vertical;
    }

    span {
      margin-left: 50px;
    }
  }

  .navbar-nav-action {
    max-width: 210px;
    float: right;

    margin-top: 8px;
    margin-right: 15px;

    border: 2px solid white;
    border-radius: $border-radius-large;

    text-transform: uppercase;
    font-weight: bold;

    opacity: .75;
    transition: opacity .25s ease;

    a {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &:hover {
      opacity: 1;
    }
  }

  &.navbar-inverse {
    transition: background-color .75s ease;

    &:hover {
      background-color: rgba($palette-blue, 1);
    }
  }
}
