section {
  h1:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

a {
  border-bottom: 1px dotted;
  transition: color 0.2s ease;

  &:hover {
    text-decoration: none;
  }

  &.btn {
    border: none;
  }
}

.nav a {
  border-bottom: none;
}

p {
  font-size: ceil(($font-size-base * 1.2));

  &.lead {
    font-size: ceil(($font-size-large * 1.1));
    margin-bottom: 10.5px;
  }
}
