/********* CONTAIN ELEMENTS WIDTH *********/
.contained-sm {
  max-width: 360px;
  margin: 0 auto;
}

.contained {
  max-width: 800px;
  margin: 0 auto;
}

.contained-lg {
  max-width: 900px;
  margin: 0 auto;
}
