html {
  height: 100%
}

/********* CONTAIN ELEMENTS WIDTH *********/
.contained-xs {
  max-width: 360px;
  margin: 0 auto;
}

.contained-sm {
  max-width: 600px;
  margin: 0 auto;
}

.contained {
  max-width: 800px;
  margin: 0 auto;
}

.contained-lg {
  max-width: 900px;
  margin: 0 auto;
}

/********* GRAY BACKGROUND ***************/
.bg-gray {
  background-color: $gray-lighter;
}
