.nav-wrapper
  .container
    %ul.nav.nav-tabs.nav-justified
      - PlanCategory.all.each do |category|
        %li{class: "#{'active' if params[:id] == category.slug}"}= link_to category.name, plan_category_path(category)
