.row
  .col-xs-12
    .asterisks-explanation
      %ul.list-unstyled
        %li (*) Prezzo da intendersi IVA inclusa.
        %li (**) Prezzo da intendersi IVA esclusa.

    %div(style='margin-top: -10px')
      %small
        Ai sensi dell.Art. 4 della Delibera 183/03/CONS si rende noto che i servizi vengono
        offerti mediante l'utilizzo di frequenze in banda condivisa e senza protezione dalle
        interferenze e che, pertanto, non può essere offerta garanzia sulla qualità del servizio.
