// Brand colors
$palette-orange: rgb(255, 153, 0);
$palette-beige: rgb(255, 223, 174);
$palette-beige-light: rgb(255, 239, 215);
$palette-blue: rgb(72, 85, 102);
$palette-blue-light: rgb(123, 134, 154);
$palette-black: rgb(66, 66, 66);

$palette-green: #2ecc40;
$palette-red: #ff4136;

// Typography
$font-family-sans-serif: 'Lato', sans-serif;
$font-size-base: 15px;

// Border radius
$border-radius-base: 2px;
$border-radius-small: 3px;
$border-radius-large: 4px;

// Spacing
$spacing-base: 100px;
$spacing-sm: ($spacing-base / 2);
$spacing-lg: ($spacing-base * 1.5);

// Links
$link-color: $palette-blue-light;

// Navbar
$navbar-height: 60px;

// Orange navbar
$navbar-default-bg: $palette-orange;
$navbar-default-color: white;
$navbar-default-border: $palette-orange;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: white;
$navbar-default-link-active-color: white;
$navbar-default-link-hover-bg: darken($palette-orange, 6.5%);
$navbar-default-brand-hover-color: white;
$navbar-default-toggle-hover-bg: darken($palette-orange, 13%);
$navbar-default-toggle-icon-bar-bg: white;
$navbar-default-toggle-border-color: darken($palette-orange, 6.5%);

// Make the navbar collapse sooner
$grid-float-breakpoint: 992px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";
