// Brand colors
$palette-orange: rgb(255, 153, 0);
$palette-beige: rgb(255, 223, 174);
$palette-beige-light: rgb(255, 239, 215);
$palette-blue: rgb(72, 85, 102);
$palette-blue-light: rgb(123, 134, 154);
$palette-black: rgb(66, 66, 66);

// Typography
$font-family-sans-serif: 'Lato', sans-serif;
$font-size-base: 15px;

// Border radius
$border-radius-small: 0;
$border-radius-base: 0;
$border-radius-large: 0;

// Spacing
$spacing-base: 100px;
$spacing-sm: ($spacing-base / 2);
$spacing-lg: ($spacing-base * 1.5);

// Links
$link-color: $palette-blue-light;

// Navbar
$navbar-height: 60px;

// Orange navbar
$navbar-default-bg: $palette-blue;
$navbar-default-color: white;
$navbar-default-border: $palette-blue;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: white;
$navbar-default-link-active-color: white;
$navbar-default-link-hover-bg: transparent;
$navbar-default-brand-hover-color: white;
$navbar-default-toggle-hover-bg: darken($palette-blue, 13%);
$navbar-default-toggle-icon-bar-bg: white;
$navbar-default-toggle-border-color: darken($palette-blue, 6.5%);

// Transparent navbar
$navbar-inverse-bg: rgba($palette-blue, .5);
$navbar-inverse-color: white;
$navbar-inverse-link-color: white;
$navbar-inverse-link-hover-color: white;
$navbar-inverse-link-active-color: white;
$navbar-inverse-link-hover-bg: transparent;
$navbar-inverse-link-hover-color: white;

@import "bootstrap-sprockets";
@import "bootstrap";
