- provide :body_id, 'inquiry'
- provide :title, 'Grazie!'

.heading.heading-bordered
  .container
    %h1.heading-title Grazie!
    %h3.heading-description È bello averti a bordo.

.container.contained-sm
  %p
    La tua richiesta di sopralluogo è stata inoltrata ai nostri tecnici, che la
    prenderanno in carico e ti ricontatteranno per fissare un appuntamento.

  %p
    Se il sopralluogo dovesse avere esito positivo, eseguiremo l'installazione e
    avrai immediatamente la tua nuova ADSL!

  %p
    Ti ringraziamo della fiducia che hai riposto in noi e ci auguriamo di
    vederti presto parte di questo viaggio.

  %p.text-right
    — Il team InterConn
