- provide :body_id, 'inquiry'
- provide :title, 'Richiesta di sopralluogo'

.heading.heading-bordered
  .container
    %h1.heading-title Grazie mille!
    %h3.heading-description È bello averti a bordo.

.container.contained-sm
  %p
    La tua richiesta di sopralluogo è stata inoltrata al nostro staff di
    supporto, che la prenderà in carico e ti ricontatterà per fissare un
    appuntamento.

  %p
    Se il sopralluogo dovesse avere esito positivo, un nostro tecnico eseguirà
    l'installazione e potrai testare i nostri servizi per 15 giorni.

  %p
    Ti ringraziamo della fiducia che hai riposto in noi e ci auguriamo di
    vederti presto parte di questo viaggio.

  %p.text-right
    — Il team InterConn
