- provide :body_id, 'edit-inquiry'
- provide :title, 'Grazie!'

.heading.heading-bordered
  .container
    %h1.heading-title Grazie mille!
    %h3.heading-description
      Ti ricontatteremo il prima possibile. Ci diresti qualcosa in più su di te?

.container.contained-sm#inquiry-form-container
  .row
    .col-xs-12
      = render 'inquiries/form'
