- provide :body_id, 'new-inquiry'
- provide :title, 'Richiesta di sopralluogo'

.heading.heading-bordered
  .container
    %h1.heading-title Richiesta di sopralluogo
    %h3.heading-description
      Compila il modulo e sarai ricontattato in men che non si dica per fissare
      un appuntamento!

.container.contained-sm#inquiry-form-container
  .row
    .col-xs-12
      = render 'inquiries/form'
