- provide :body_id, 'inquiry'
- provide :title, 'Richiesta di sopralluogo'

.heading.heading-bordered
  .container
    %h1.heading-title Richiesta di sopralluogo
    %h3.heading-description Unisciti alla rivoluzione. Non te ne pentirai.

.container#inquiry-container
  .row
    .col-xs-12.col-sm-8.col-sm-offset-2
      .panel.panel-inquiry
        .panel-body
          = render 'inquiries/form'

- content_for :javascripts do
  = javascript_include_tag '//maps.googleapis.com/maps/api/js?libraries=places'
  = javascript_include_tag 'pages/inquiries/new.js'
