- provide :body_id, 'inquiry'
- provide :title, 'Richiesta di sopralluogo'
- provide :hide_ctas, true
- provide :hide_footer_links, true
- provide :footer_classes, 'footer-semitrans'

#inquiry-outer-container
  #inquiry-content
    .heading.heading-inverse
      .container
        %h1.heading-title Richiesta di sopralluogo
        %h3.heading-description Inizia subito la tua prova gratuita di 15 giorni!

    .container#inquiry-inner-container
      .panel.panel-inquiry
        .panel-body
          = render 'inquiries/form'

- content_for :javascripts do
  = javascript_include_tag '//maps.googleapis.com/maps/api/js?libraries=places'
  = javascript_include_tag asset_path('pages/inquiries/new.js')
