- provide :title, 'Tutto fatto!'

.heading
  .container
    %h1.heading-title Tutto fatto!
    %h3.heading-description
      A breve sarai ricontattato da un nostro tecnico per fissare un
      appuntamento per il sopralluogo.
