.jumbotron.jumbotron-blue.horizontal-call
  .container
    .contained-lg
      .row
        .col-xs-12.col-md-9
          %p
            Provaci per 15 giorni. Non rimarrai deluso.

        .col-xs-12.col-md-3
          %a.btn.btn-bold.btn-lg.btn-orange.btn-transition{href: '#'}
            Inizia la tua prova
