.jumbotron.jumbotron-blue.horizontal-call
  .container
    .contained-lg
      .row
        %p.lead
          Unisciti alla rivoluzione. Non rimarrai deluso.

          %span.btn-wrapper
            = link_to 'Inizia la tua prova!', new_inquiry_path, class: 'btn btn-lg btn-orange'
