.jumbotron.jumbotron-blue.horizontal-call
  .container
    .contained-lg
      .row
        %p
          Provaci per 15 giorni. Non rimarrai deluso.

          %span.btn-wrapper
            %a.btn.btn-bold.btn-lg.btn-orange.btn-transition{href: '#'}
              Inizia la tua prova!
