.jumbotron.jumbotron-blue.horizontal-call
  .container
    .contained-lg
      .row
        %p
          Provaci per 15 giorni. Non rimarrai deluso.

          %span.btn-wrapper
            = link_to 'Inizia la tua prova!', root_path(anchor: 'inquiry'), class: 'btn btn-bold btn-lg btn-orange btn-transition'
