%footer
  = render 'layouts/footer_links'

  .footer-disclaimer
    .container
      .row
        .col-xs-12.col-sm-4
          %ul.list-inline
            %li InterConn S.r.l.
            %li (P.I. 12220531003)

        .col-xs-12.col-sm-5
          %ul.list-inline
            %li Via Delia, 9
            %li 00155 Roma (RM)
            %li Italia

        .col-xs-12.col-sm-3
          %ul.list-inline
            %li= link_to 'Privacy policy', privacy_policy_path
