%footer
  = render 'layouts/footer_links'

  .footer-disclaimer
    .container
      .row
        .col-xs-12.col-sm-4
          %p InterConn Srl (P.I. 12220531003)

        .col-xs-12.col-sm-5
          %p V.le Luigi Schiavonetti, 286 – 00173 Roma (RM) – Italia

        .col-xs-12.col-sm-3
          %ul.list-inline
            %li= link_to 'Privacy policy', privacy_policy_path
